{% extends 'boardbase.html' %}



{% block boardheader %}
{% endblock boardheader %}



{% block boardcontent %}
  {% if user.is_authenticated %}
    <hr>
    <a href="{% url 'snslistfunc' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">BACK TO SNSLIST</a>
    <hr>

    <form method='POST' enctype='maltipart/form-data'> {# Use FILE -> Set enctype #}
      {% csrf_token %}
      <p>SNSTITLE: <input type='text' name='snstitle' placeholder='sns-title'></p>
      <p>SNSCONTENT: <input type='text' name='snscontent' placeholder='sns-content'></p>
      <input type='file' name='snsimage' placeholder='sns-image'>

      {# type=hidden: Cannot see on the screen but works. #}
      {# Get login-user #}
      <input type='hidden' name='snsauthor' value='{{user.username}}'>
      <div>vvv</div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">CREATE</button>
    </form>

  {% else %}
    <hr><hr><hr><hr>
    <p>|> LOGIN FIRST</p>
    <a href="{% url 'loginfunc' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">__FROM THIS PAGE__</a>
    <hr>
  {% endif %}
{% endblock boardcontent %}