{% extends 'boardbase.html' %}



{% block boardheader %}
  <div class="alert alert-primary" role="alert">
    <h3>Detail PAGE</h3>

    {% if user.is_authenticated %}
      <p>status: LOGGED IN</p>
      <a href="{% url 'logoutfunc' %}" class="" role="button">LOG OUT</a>
    {% else %} {# Redirect to loginpage now by @login_required -> Not displayed. #}
      <p>status: PLEASE LOGIN</p>
    {% endif %}
  </div>


{% endblock boardheader %}



{% block boardcontent %}
  <div class='container'>
    <div class="alert alert-success" role="alert">
      <p>TITLE: {{object.snsTitle}}</p>
      <p>AUTHOR: {{object.snsAuthor}}</p>
      <p><img src='{{object.snsImage.url}}'></p>
    </div>
    <a href="#" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">LIKEIT</a>
    <a href="#" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">WATCHED</a>
    <hr>
  </div>
{% endblock boardcontent %}