{% extends 'boardbase.html' %}



{% block boardheader %}
  <div class="alert alert-primary" role="alert">
    <h3>SNS TOP BOARD</h3>

    {% if user.is_authenticated %}
      <p>status: LOGGED IN</p>
      <a href="{% url 'logoutfunc' %}" class="" role="button">LOG OUT</a>
    {% else %} {# Redirect to loginpage now by @login_required -> Not displayed. #}
      <p>status: PLEASE LOGIN</p>
    {% endif %}
  </div>


{% endblock boardheader %}



{% block boardcontent %}
  <div class='container'>
    {% for item in sns_list %}
      <div class="alert alert-success" role="alert">
        <p>TITLE: <a href="{% url 'snsdetailfunc' item.pk %}">{{item.snsTitle}}</a></p>
        <p>AUTHOR: <a href="{% url 'snsdetailfunc' item.pk %}">{{item.snsAuthor}}</a></p>
      </div>
      <a href="{% url 'likeitfunc' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">LIKEIT: {{item.snsGood}}</a>
      <a href="{% url 'readitfunc' item.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">WATCHED: {{item.snsRead}}</a>
      <hr>
    {% endfor %}
  </div>
{% endblock boardcontent %}