{% extends 'todo/todobase.html' %}



{% block header %}
  <div class="container-fluid py-5 alert alert-dark" role="alert">
    <h1 class="display-5 fw-bold">TODOLIST</h1>
    <p class="col-md-8 fs-4">Using Todo List, Spend efficient life.

    <button class="btn btn-primary btn-lg" type="button" onclick="location.href='create'">CREATE NEW ONE</button>
    <p>*PRIORITY: Red > Yellow > Blue</p>
  </div>
{% endblock header %}


{% block content %}
  <div class='container'>
    {# ListView -> a variable object_list show database data automatically. #}
    {% for item in object_list %}
      {% comment %} <div class='alert alert-success' role="alert"> {% endcomment %}
      <div class='alert alert-{{item.priority}}' role="alert">
        <p>{{ item.duedate|date:"D d M Y"}} |> {{ item.title }}</p>
        <a href="update/{{ item.id }}/" class="btn btn-info" role="button" aria-disabled="true">EDIT</a>
        <a href="delete/{{ item.id }}/" class="btn btn-success" role="button" aria-disabled="true">DELETE</a>

        {### 1.Direct call || 2.Call the url via name value. ###}
        {% comment %} 1-1.
        <a href="detail/{{ item.id }}/" class="btn btn-primary" role="button" aria-disabled="true">DETAIL</a>
        {% endcomment %}
        {% comment %} 2-1 {% endcomment %}
        <a href="{% url 'TodoDetail' item.pk %}" class="btn btn-primary" role="button" aria-disabled="true">DETAIL</a>
        {% comment %} 2-2.
        <a href="{% url 'TodoDetail' item.id %}" class="btn btn-primary" role="button" aria-disabled="true">DETAIL</a>
        {% endcomment %}
      </div>
    {% endfor %}
    </div>
{% endblock content %}

