{% extends 'journal/base.html' %}



{% block content %}
  {% for a_post in journalpost_list %}  {# modelname & viewname -> journalpost_list #}
    <div class="card mb-3" style="width:46rem;">
      <h3 class="card-header bg-dark text-white">{{ a_post.title }}</h3>
      <div class="card-body">
        <p>{{ a_post.created_date }}</p>
        <p>(GENRE) {{ a_post.category }}</p>
        <a href="{% url 'journal_detail' a_post.pk %}" class="btn btn-dark">DETAIL</a>
      </div>
    </div>
  {% endfor %}


  {% include 'journal/page.html' %}
{% endblock %}
