{% extends 'journal/base.html' %}



{% block content %}
  <div class="card mb-3" style="width:46rem;">
    <h3 class="card-header bg-dark text-white">{{ journalpost.title }}</h3>  {# modelname -> journalpost #}
    <div class="card-body">
      <p>{{ journalpost.created_date }}</p>
      <p>(GENRE) {{ journalpost.category }}</p>
      {{ journalpost.text | linebreaksbr | urlize }}
    </div>
  </div>

  <a class="btn btn-dark" href="{% url 'journal_comment' journalpost.pk %}">COMMENT PAGE</a>
{% endblock %}
